services:
  register-worker:
    build:
      context: ../_register
      dockerfile: Dockerfile.register_worker
    container_name: byoc-stream-register-worker
    environment:
      - "ORCH_URL=https://${ORCH_SERVICE_ADDR}"
      - "ORCH_SECRET=${ORCH_SECRET}"
      - "CAPABILITY_NAME=${CAPABILITY_NAME}"
      - "CAPABILITY_DESCRIPTION=video analysis"
      - "CAPABILITY_URL=${AI_RUNNER_URL}"
      - "CAPABILITY_PRICE_PER_UNIT=${CAPABILITY_PRICE}"
      - "CAPABILITY_PRICE_SCALING=1"
      - "CAPABILITY_CAPACITY=${CAPABILITY_CAPACITY}"
  ai-runner:
    build:
      context: .
      dockerfile: Dockerfile.worker
    container_name: byoc-stream-runner
    runtime: nvidia #for gpu stats
    volumes:
      - ${VTUBER_SESSION_DIR:-/home/ubuntu/vtuber_sessions}:/opt/embody/sessions
    ports:
      - 8001:8000
    networks:
      - byoc-stream
  runner-proxy:
    image: caddy:latest
    container_name: byoc-stream-runner-proxy
    ports:
      - 9099:9099
    volumes:
      - /Caddyfile.runner_proxy:/etc/caddy/Caddyfile
    environment:
      - HOST=${HOST}
      - AI_RUNNER_PORT=${AI_RUNNER_PORT}
      - AI_RUNNER_HTTPS_EMAIL=${AI_RUNNER_HTTPS_EMAIL}
networks:
  default:
    name: byoc-stream
    external: true
