[submodule "byoc-stream/worker/deep-live-cam/detect"]
	path = byoc-stream/worker/deep-live-cam/detect
	url = https://github.com/ad-astra-video/DeepfakeBench
[submodule "byoc-stream/worker/deep-live-cam/c2pa-service"]
	path = byoc-stream/worker/deep-live-cam/c2pa-service
	url = https://github.com/JJassonn69/hackathon-project.git
