setuptools
wheel
torch>=2.6.0
torchaudio
torchvision
transformers>=4.51.0
diffusers>=0.33.1
torchao
bitsandbytes
accelerate
fastapi[standard]
requests
python-multipart
huggingface_hub[cli,hf_transfer]
nvidia-ml-py